@using MVCApp.Model
@model List<Student>
<h2 class="mb-4">Student List</h2>

<a asp-action="Create" class="btn btn-success mb-3">+ Add Student</a>

<ul class="list-group">
    @foreach (var s in Model)
    {
        <li class="list-group-item">
            @s.Name
        </li>
    }
</ul>